<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ed53762-c9ff-404b-a206-0620b482066c/resourcegroups/ThePodcastReview/providers/Microsoft.Web/sites/The-Podcast-Review</ResourceId>
    <ResourceGroup>ThePodcastReview</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://the-podcast-review.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>the-podcast-review.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>The-Podcast-Review</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$The-Podcast-Review</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:the-podcast-reviewdbserver.database.windows.net,1433;Initial Catalog=The-Podcast-Review_db;User ID=bethD@the-podcast-reviewdbserver;Password=Ikkesabr0" Name="Data Source=tcp:the-podcast-reviewdbserver.database.windows.net,1433;Initial Catalog=The-Podcast-Review_db;User Id=bethD@the-podcast-reviewdbserver;Password=Ikkesabr0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ThePodcastReview.Data.ApplicationDbContext, ThePodcastReview.Data" MigrationConfiguration="ThePodcastReview.Data.Migrations.Configuration, ThePodcastReview.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:the-podcast-reviewdbserver.database.windows.net,1433;Initial Catalog=The-Podcast-Review_db;User Id=bethD@the-podcast-reviewdbserver;Password=Ikkesabr0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>