@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fake Street<br />
    Fake Place, IN 12345<br />
    <abbr title="Phone">P:</abbr>
    555.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:janeDdouglas@gmail.com">janeDdouglas@gmail.com</a><br />
</address>