@{
    ViewBag.Title = "The Podcast Review";
}

<div>
    <h1>The Podcast Review</h1>
    <hr />
</div>
<div>
    <h3 class="lighter">Find new podcasts, review podcasts.</h3>
</div>
@*<div>
    <a href="/Review/ViewAll" class="btn btn-primary btn-lg">Read Reviews &raquo;</a>
</div>*@


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Title of Review x</h4>
            </div>
            <div class="panel-body">
                Review of review x
                <h5 style="text-align:right"> - Reviewer</h5>
                <h5 style="text-align:left">Rating of Review x</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes of Review x</h4>
            </div>
            <div class="panel-body">
                Bla bla Bla or Review x
                <br /> More Bla Bla Bla of Review x
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Title of Review x</h4>
            </div>
            <div class="panel-body">
                Review of review x
                <h5 style="text-align:right"> - Reviewer</h5>
                <h5 style="text-align:left">Rating of Review x</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes of Review x</h4>
            </div>
            <div class="panel-body">
                Bla bla Bla or Review x
                <br /> More Bla Bla Bla of Review x
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Title of Review x</h4>
            </div>
            <div class="panel-body">
                Review of review x
                <h5 style="text-align:right"> - Reviewer</h5>
                <h5 style="text-align:left">Rating of Review x</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes of Review x</h4>
            </div>
            <div class="panel-body">
                Bla bla Bla or Review x
                <br /> More Bla Bla Bla of Review x
            </div>
        </div>
    </div>
</div>