@model ThePodcastReview.Models.ReviewDetail
@{
    ViewBag.Title = "The Podcast Review";
}

<div>
    <h1>The Podcast Review</h1>
    <hr />
</div>
<div>
    <h3 class="lighter">Find new podcasts, review podcasts.</h3>
</div>
@*<div>
    <a href="/Review/ViewAll" class="btn btn-primary btn-lg">Read Reviews &raquo;</a>
</div>*@


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>This Podcast</h4>
            </div>
            <div class="panel-body">
                He'll want to use your yacht, and I don't want this thing smelling like fish. Army had half a day. It's called 'taking advantage.'
                It's what gets you ahead in life. Across from where? Say goodbye to these, because it's the last time! I don't understand the question,
                and I won't respond to it.Bad news. Andy Griffith turned us down. He didn't like his trailer. Say goodbye to these, because it's the last
                time! What's Spanish for "I know you speak English?"
                <h5 style="text-align:right"> - Lucille</h5>
                <h5 style="text-align:left">5</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes</h4>
            </div>
            <div class="panel-body" id="fav-ep">
                The best one.
                The other one.
                That other one.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Another Podcast</h4>
            </div>
            <div class="panel-body">
                That's why you always leave a note! Oh, you're gonna be in a coma, all right.But I bought a yearbook ad from you, doesn't that mean
                anything anymore? Across from where? Bad news. Andy Griffith turned us down. He didn't like his trailer. Get me a vodka rocks.
                And a piece of toast. That's why you always leave a note! Say goodbye to these, because it's the last time! I hear the jury's still
                out on science.That's why you always leave a note! That's why you always leave a note! He'll want to use your yacht, and I don't
                want this thing smelling like fish. I'm a monster. It's a hug, Michael. I'm hugging you. I've opened a door here that I regret.
                That's what it said on 'Ask Jeeves.'
                <h5 style="text-align:right"> - Buster</h5>
                <h5 style="text-align:left">4</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes</h4>
            </div>
            <div class="panel-body"  id="fav-ep">
                Episode 3
                Episode 8
                Episode 20
                Episode 9
                Episode 11
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>One More Podcast</h4>
            </div>
            <div class="panel-body">
                I'm afraid I just blue myself. Not tricks, Michael, illusions. Across from where? It's called 'taking advantage.' It's what gets
                you ahead in life. Really? Did nothing cancel? That's why you always leave a note! No! I was ashamed to be SEEN with you. I like 
                being with you. Across from where? Guy's a pro. He'll want to use your yacht, and I don't want this thing smelling like fish. I'm 
                afraid I just blue myself. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because
                I am an honest man with no secrets to hide. As you may or may not know, Lindsay and I have hit a bit of a rough patch. As you may
                or may not know, Lindsay and I have hit a bit of a rough patch. I'm a monster. No! I was ashamed to be SEEN with you. I like being 
                with you. First place chick is hot, but has an attitude, doesn't date magicians.
                <h5 style="text-align:right"> - G.O.B.</h5>
                <h5 style="text-align:left">5</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4>Favorite Episodes</h4>
            </div>
            <div class="panel-body"  id="fav-ep">
                Bob lob law                
            </div>
        </div>
    </div>
</div>