@{
    ViewBag.Title = "The Podcast Review";
}

<div class="jumbotron">
    <h1>The Podcast Review</h1>
    <p class="lead">Find new podcasts, review podcasts, Lorem ipsum dolor amet bicycle rights offal vice cold-pressed, 
    narwhal godard selfies. Migas etsy woke ugh hexagon, thundercats lyft fanny pack pop-up intelligentsia selvage authentic. 
    You probably haven't heard of them wayfarers blog artisan, health goth shoreditch four loko gluten-free. Farm-to-table man 
    braid vegan aesthetic narwhal ugh. YOLO brunch pabst intelligentsia tumblr hammock. Pok pok sartorial iceland shoreditch 
    chicharrones gastropub migas bitters typewriter</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Example Reviews</h2>
        <p>
            Lorem ipsum dolor amet bicycle rights offal vice cold-pressed, narwhal godard selfies. Migas etsy woke ugh hexagon,
            thundercats lyft fanny pack pop-up intelligentsia selvage authentic. You probably haven't heard of them wayfarers blog artisan,
            health goth shoreditch four loko gluten-free. Farm-to-table man braid vegan aesthetic narwhal ugh. YOLO brunch pabst intelligentsia
            tumblr hammock. Pok pok sartorial iceland shoreditch chicharrones gastropub migas bitters typewriter
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example Reviews</h2>
        <p>Lorem ipsum dolor amet bicycle rights offal vice cold-pressed, narwhal godard selfies. Migas etsy woke ugh hexagon, 
        thundercats lyft fanny pack pop-up intelligentsia selvage authentic. You probably haven't heard of them wayfarers blog artisan, 
        health goth shoreditch four loko gluten-free. Farm-to-table man braid vegan aesthetic narwhal ugh. YOLO brunch pabst intelligentsia
        tumblr hammock. Pok pok sartorial iceland shoreditch chicharrones gastropub migas bitters typewriter</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example Reviews</h2>
        <p>
            Lorem ipsum dolor amet bicycle rights offal vice cold-pressed, narwhal godard selfies. Migas etsy woke ugh hexagon,
            thundercats lyft fanny pack pop-up intelligentsia selvage authentic. You probably haven't heard of them wayfarers blog artisan,
            health goth shoreditch four loko gluten-free. Farm-to-table man braid vegan aesthetic narwhal ugh. YOLO brunch pabst intelligentsia
            tumblr hammock. Pok pok sartorial iceland shoreditch chicharrones gastropub migas bitters typewriter
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>